.main-chat
  .group-header
    .group-header__info-left
      %p.group-header__name
        = @group.name
      %ul.group-header__menbers
        %p.group-header__menbers__title Menber :
        - @group.users.each do |user|
          %li.group-header__menbers__menber
            = user.name
    .group-header__info-right
      = link_to edit_group_path(@group), class: "group-header__edit" do
        %p.group-header__edit-btn Edit

  .group-messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .new-message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'input-btn'