.chat-side
  .side-header
    .top-items
      %p.top-items__user-name masa
      %ul.top-items__icons
        = link_to "#", class: "top-items__icons__edit" do
          %li= icon('far fa-edit',"top-items__icons__edit")
        = link_to "#", class: "top-items__icons__cog" do
          %li= icon('fas fa-cog', "top-items__icons__cog")
  .groups
    = link_to "#", class: "group-list__btn" do
      .group-list
        %p.group-list__name techcamp
        %p.group-list__message まだメッセージがありません