.chat-side
  .side-header
    .top-items
      %h3.top-items__user-name
        = current_user.name
      %ul.top-items__icons
        = link_to new_group_path, class: "top-items__icons__edit" do
          %li= icon('far fa-edit',"top-items__icons__edit")
        = link_to edit_user_path(current_user), class: "top-items__icons__cog" do
          %li= icon('fas fa-cog', "top-items__icons__cog")
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "group-list__btn" do
        .group-list
          .group-list__name
            = group.name
          .group-list__message
            = group.show_last_message